.bash-git-prompt/
.bash_history
.bash_it/
.bash_logout
.bashrc.bak
.bokeh/
.cache/
.conda/
.condarc
.config/
.git-credentials
.git-prompt-colors.sh
.gitconfig
.ipython/
.jupyter/
.lesshst
.local/
.mume/
.oh-my-zsh/
.profile
.pylint.d/
.python_history
.sudo_as_admin_successful
.vim/
.viminfo
.vscode-server/
.zcompdump
.zcompdump-Rowan-5.4.2
.zsh_history
.zshrc
.zshrc.swp
miniconda3/
